body {
  background: #f1c40f;
  font-family:'Sawarabi Gothic', sans-serif;
}

h2{
  margin: 0 auto;
  width: 500px;
  left: 10%;
  padding: 30px;
  
  color: #3498db;
}

.button {
  background: #3498db;
  width: 180px;
  padding: 4px 0;
  
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
}

p{
  font-family: 'Roboto'; 
	text-align: center;
  text-transform: uppercase;
  color: #FFF;
  user-select: none;
}
p:hover {
  cursor: pointer;
}
  
p:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 50%;
  background-color: darken(#f1c40f, 20%);
  opacity: 0.4;
  bottom: -30px;
}

.back{
  font-family: 'Roboto'; 
	text-align: center;
  text-transform: uppercase;
  color: #FFF;
  user-select: none;
}